
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
  
  .errorBox {
    text-align: center;
    color: red;
  }
  

  .topSection {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2%;
    //background-color: rgb(221, 221, 221);
  }
  
  @media (min-width: 20vh) {
    .topSection {
      flex-direction: row;
    }
  }
  

  .imageContainer {
    flex: 1;
    max-width: 80%;
    margin-bottom: 2%;
  }
  
  @media (min-width: 20vh) {
    .imageContainer {
      max-width: 30%;
      margin-bottom: 0;
    }
  }
  

  .coverImage {
    width: 70%;
    height: 80%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 8px;
    
  }
  

  .detailsContainer {
    flex: 1;
    max-width: 100%;
    padding: 0;
    margin-bottom: 5%;
  }
  
  @media (min-width: 480px) {
    .detailsContainer {
      max-width: 40%;
      padding: 0 16px;
      margin-bottom: 0;
    }
  }
  

  .castContainer {
    flex: 1;
    max-width: 100%;
  }
  
  @media (min-width: 480px) {
    .castContainer {
      max-width: 30%;
    }
  }
  
 
  .lowerSection {
    padding: 16px;
    margin-top: 16px;
    border-top: 1px solid #ccc;
  }
  
 
  .seasonBox {
    margin-bottom: 16px;
  }
  
  .seasonTitle {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .episodeList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .episodeItem {
    margin-bottom: 2%;
  }
  