.topbar {
    display: flex;
    padding: 16px;
    background-color: #3182ce; /* blue.500 */
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 12px;
    font-size: 1.25rem;
  }
  
  .centerSection {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
  }
  