.navBar {
  position: fixed;
  width: 100%;
  background-color: #18181b; 
  color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 1000;
}

.navBarFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.leftSection {
  display: flex;
  align-items: center;
  color: "red"
}


.rightSection {
  display: flex;
  align-items: center;
}

.searchBox{
  flex: 1;
  align-items: center;
}

.centerSection {
  flex: 1;
  display: flex;
  justify-content: center;
  /* padding-left: 20%;
     padding-right: 20%;  Töröld vagy csökkentsd le */
}

.searchInput {
  width: 20%;
  border: 1px solid #ccc;
  background-color: #2D3748;
  color: #fff;


  &:focus {
    outline: none;
    border-color: #aaa;
  }
}

.myMenuItem {

  color: #2D3748;


  &:hover {
    background-color: #4A5568; /* pl. gray.600 */
  }

  &:focus {
    background-color: #4A5568;
  }

  &:active {
    background-color: #718096; /* pl. gray.500 */
  }
}

.loginButton{
  color: rgb(128, 66, 66);
  padding-top: 0%;
  margin-right: 5%;
  border: none;
  font-size: larger;

  &:focus {
    outline: none;
    border-color: #962020;
  }
   
  &:hover{
    color: rgb(223, 38, 38); 
  }

}